api/src/main/resources/wsdl/espaco.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.aps.com/api/espaco"
           targetNamespace="http://www.aps.com/api/espaco"
           elementFormDefault="qualified">

    <xs:complexType name="EspacoInfo">
        <xs:sequence>
            <xs:element name="id"               type="xs:int"/>
            <xs:element name="nome"             type="xs:string"/>
            <xs:element name="capacidadeMaxima" type="xs:int"/>
            <xs:element name="status"           type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="cadastrarEspacoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nome"             type="xs:string"/>
                <xs:element name="capacidadeMaxima" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="cadastrarEspacoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sucesso"  type="xs:boolean"/>
                <xs:element name="mensagem" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="atualizarEspacoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id"               type="xs:int"/>
                <xs:element name="nome"             type="xs:string" minOccurs="0"/>
                <xs:element name="capacidadeMaxima" type="xs:int"    minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="atualizarEspacoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sucesso"  type="xs:boolean"/>
                <xs:element name="mensagem" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deletarEspacoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deletarEspacoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sucesso"  type="xs:boolean"/>
                <xs:element name="mensagem" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="buscarEspacoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="buscarEspacoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="espaco" type="tns:EspacoInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listarEspacosRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="listarEspacosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="espacos" type="tns:EspacoInfo"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="fecharEspacoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="fecharEspacoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sucesso"  type="xs:boolean"/>
                <xs:element name="mensagem" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
